{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

{% if messages %}
    <ul class="messages m-t d-flex justify-content-center">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<main class="container m-t bg img-radius">
    <div class="d-flex justify-content-center my-4 py-5">
        <form action="{% url 'agregar_pelicula' %}" method="GET">
            <button class="btn boton-main d-flex justify-content-center" type="submit">
                Agregar película
            </button>
        </form>
    </div>
    <h1 class="text-center mb-4 titulo-bg">Películas</h1>

    <div class="row">
        <h1>{{peliculas.Titulo}}</h1>
        {% if peliculas %}
            {% for pelicula in peliculas %}
            <div class="col-md-4 my-3">
                <div class="movie-card">
                    <img src="{% static 'img/' %}{{ forloop.counter }}.jpg" 
                         alt="Poster de Película {{ pelicula.id }}" 
                         class="movie-image">
                    <div class="movie-details">
                        <h2 class="movie-title">{{ pelicula.Titulo }}</h2>
                        <h5 class="movie-description">{{ pelicula.Fecha }}</h5>
                        <p class="movie-description">Es una película increíble que no te puedes perder.</p>
                        <h5>Nacionalidad:</h5>
                        <h4 class="movie-atributes">{{ pelicula.Nacionalidad }}</h4>
                        <h5>Productora:</h5>
                        <h4 class="movie-atributes">{{ pelicula.Productora }}</h4>

                        <div class="d-flex">
                            <button class="btn boton-main">Editar</button>
                        <form method="POST" action="{% url 'borrar_pelicula' pelicula.ID_Pelicula %}">
                            {% csrf_token %}
                            <button type="submit" class="btn button boton-secundary btn-sm">
                                Eliminar
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h1>No hay películas</h1>
        {% endif %}
    </div>
</main>
{% endblock %}
