{% extends 'layouts/base.html' %} 

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección de Películas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>

    <section class="container m-t bg img-radius">
        <h1 class="text-center mb-4 titulo-bg">Selección de Películas</h1>
        
        <div class="row">
            {% if detalles %}
                {% for detalle in detalles %}
                <!-- <img src="https://via.placeholder.com/300x400" -->
                <div class="col-md-4 my-3">
                    <div class="movie-card">
                        <img src="{% static 'img/' %}{{ forloop.counter }}.jpg" alt="Poster de Película {{ detalle.id }}" class="movie-image">
                        <div class="movie-details">
                            <h2 class="movie-title">{{ detalle.Titulo }}</h2>
                            <p class="movie-description">Es una película increíble que no te puedes perder.</p>
                            <button id="showFormButton1-{{ forloop.counter }}" class="btn boton-main">Alquilar</button>
                                <!-- Modal de confirmación -->
                                <div id="formContainer1-{{ forloop.counter }}" class="form-container hidden">
                                     <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                ¿Deseas alquilar esta película?
                                                <H3>{{ detalle.Titulo }}</H3>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn  btn-secondary close-button1 mx-2" data-bs-dismiss="modal">Cancelar</button>
                                                <form action="{% url 'alquilar' detalle.ID_Pelicula %}" method="POST" class="alquilar-form">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary mx-2">Sí, ALQUILAR</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <button id="showFormButton-{{ forloop.counter }}" class="btn boton-secundary">Ver Detalles</button>
                            <div id="formContainer-{{ forloop.counter }}" class="form-container hidden">
                                <button class="close-button">&times;</button>
                                <h2 class="movie-title">{{ detalle.Titulo }}</h2>
                                <h5>Nacionalidad:</h5>
                                <h4 class="movie-atributes">{{ detalle.Nacionalidad }}</h4>
                                <h5>Disponibilidad:</h5>
                                <h4 class="movie-atributes">{{ detalle.Disponibilidad }}</h4>
                                <h5>Productora:</h5>
                                <h4 class="movie-atributes">{{ detalle.Productora }}</h4>
                                <h5>Fecha:</h5>
                                <h5 class="movie-description">{{ detalle.Fecha }}</h5>
                                <h5>Director:</h5>
                                <h4 class="movie-atributes">{{ detalle.Director }}</h4>
                                <h5>Actores:</h5>
                                <h4 class="movie-atributes">{{ detalle.Actores }}</h4>
                                <h5>Estado:</h5>
                                <h4 class="movie-atributes">{{ detalle.Estado_Conservacion }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h1>NO hay pelicuas</h1>
            {% endif %}
        </div>
    </section>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}
