{% extends "layouts/base.html" %}
{% block content %}

<main class="container m-t bg img-radius">
    <h1 class="text-center mb-4 titulo-bg py-5">Mis Películas Alquiladas</h1>
    
    <div class="row">
        {% if alquileres %}
            {% for alquiler in alquileres %}
            <div class="col-md-4 my-3 color-form">
                <div class="movie-card p-4">
                    <h3>En propiedad:</h3>
                    <p>
                        {% if alquiler.4 == 1 %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </p>
                    <h3>Pelicula:</h3>
                    <p>{{ alquiler.0 }}</p>
                    <h3>Estado:</h3>
                    <p>{{ alquiler.1 }}</p>
                    <h3>Fecha de alquiler:</h3>
                    <p>{{ alquiler.2 }}</p>
                    <h3>Fecha de devolución:</h3>
                    <p>{{ alquiler.3 }}</p>

                    {% if alquiler.4 == 1 %}
                        <div>
                            <button id="showFormButton2-{{ forloop.counter }}" class="btn boton-main">Devolver</button>
                            <!-- Modal de confirmación -->
                            <div id="formContainer2-{{ forloop.counter }}" class="form-container hidden">
                                <div class="modal-dialog">
                                    <div class="modal-content color-form">
                                        <div class="modal-body">
                                            ¿Deseas devolver esta película?
                                            <H3>{{ alquiler.0 }}</H3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn  btn-secondary close-button2 mx-2" data-bs-dismiss="modal">NO</button>
                                            <form action="{% url 'devolver_pelicula'  alquiler.4  %}" method="POST" class="devolver-form">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary mx-2">DEVOLVER</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
            {% endfor %}
        {% else %}
            <h1 class="color-form text-center">No hay alquileres</h1>
            <div style="height: 70rem;"></div>
        {% endif %}
    </div>
</main>
{% endblock %}
